.quezimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.inputstylee{
    font-size: 25px;
    font-weight: bold;
}
.radioInput{
    font-size: 20px;
  
  
}
.quiz{
 
   font-weight: italic;
  font-weight: bold;
}